{% extends 'base.html' %}

{% block css %}/static/counter.css{% endblock %}

{% block body %}
  <span class="counter">
    <span class="border-mid">
      <span class="border-inner">
        <span class="numbers">
          <span class="text"></span>
          <span class="display">
            <span class="seg seg-a"></span>
            <span class="seg seg-b"></span>
            <span class="seg seg-c"></span>
            <span class="seg seg-d"></span>
            <span class="seg seg-e"></span>
            <span class="seg seg-f"></span>
            <span class="seg seg-g"></span>
          </span>
        </span>
      </span>
    </span>
  </span>
  <script>
    var prototype = $( ".display" ).remove(),
      row = $( ".numbers" ),
      numbers = [
        "abcdef",  // 0
        "bc",      // 1
        "abdeg",   // 2
        "abcdg",   // 3
        "bcfg",    // 4
        "acdfg",   // 5
        "acdefg",  // 6
        "abc",     // 7
        "abcdefg", // 8
        "abcfg"    // 9
      ],
      delay = 1000;
    function display( segs ) {
      var cell = prototype.clone();
      $.each( segs.split( "" ), function( i, on ) {
        cell.addClass( on );
      });
      cell.appendTo( row );
    }
    function displayArray( segsArray ) {
      $.each( segsArray, function( i, segs ) {
        display( segs );
      });
    }
    function drawCounter( counter ) {
      if ( counter.success ) {
        var total = "" + counter.total,
          text = row.find( "> .text" );

        if ( text.text() !== total ) {
          delay /= 2;
        } else {
          delay *= 2;
        }
        row.children().remove( ".display" );
        text.text( total );

        $.each( total.split( "" ), function( i, c ) {
          display( numbers[ parseInt( c ) ] );
        });
      } else {
        displayArray([ "adefg", "eg", "eg", "cdeg", "eg" ]);
        setInterval(function() {
          row.toggle();
        }, 500 );
      }

      var loadCounter = $( ".load-counter" ),
        src = loadCounter.attr( "src" ),
        readonly = "&readonly=readonly";
      if ( !(new RegExp( readonly + "$" )).exec( src ) ) {
        loadCounter.attr( "src", src + readonly );
      }
      setTimeout(function() {
        loadCounter.clone().appendTo( document.body );
      }, delay );
    }
  </script>
  <script class="load-counter"
    src="http://{{ request.host }}/{{ key }}/jsonp?callback=drawCounter">
  </script>
{% endblock %}
